@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url(./assets/Webp/bg-img.webp);
  background-position: center;
  background-size: cover;
}

.baground-white {
  background-image: url(./assets/Webp/bg-white.webp);
  background-position: start;
  background-size: 100% 100%;
}

.baground-white-2 {
  background-image: url(./assets/Webp/bg-white-2.webp);
  background-position: start;
  background-size: 100% 100%;
}

.baground-green {
  background-image: url(./assets/Webp/bg-green.webp);
  background-position: center;
  background-size: 100% 100%;
}

.card-image {
  background-image: url(./assets/Webp/bg-image.wbp.webp);
  background-position: center;
  background-size: cover;
}